.plan {
    margin-top: 16px;
    padding: 16px;;
    width: 80%;
    border: 4px solid #0B3113;
    border-left: none;
    background: #CDF5D6;
}

.plan:hover {
    border: 4px solid orange;
    border-left: none;
}

.plan > a {
    text-decoration: none;
}

.plan__title {
    color: #000201
}

.plan__subtitle {
    color: #878582;
}

.plan__content {
    border: 2px solid #0B3113;
    padding: 12px;
    color: #0B3113;
    background: white;
    margin-bottom: 20px;
    margin: 20px 15px 31px 7px;
}
.clean{
    clear: both;
}

.free {
    float: right;
}

.premium {
    background: #0B3113;
}